$primary:       #263238 !default;
$secondary:     #2962ff !default;
$success:       #66BB6A !default;
$info:          #00BCD4 !default;
$warning:       #FFEB3B !default;
$danger:        #F44336!default;
$light:         #F5F5F5 !default;
$dark:          #424242 !default;
$white:         #fff !default;
$black:         #000 !default;

$border-radius:  .25rem !default;
